<h3>Choose your preferences</h3>

<section class="selector-section">
    <app-quantity-selector-component [quantityType]="'Portions'" [quantityValue]="portionsValue()"
        (quantityAdd)="addPortion()" (quantityRemove)="removePortion()">
        How many portions you need?
    </app-quantity-selector-component>

    <app-quantity-selector-component [quantityType]="'Person'" [quantityValue]="chefsValue()"
        (quantityAdd)="addChef()" (quantityRemove)="removeChef()">
        How many are cooking?
    </app-quantity-selector-component>

</section>

<section class="preferences-section">
    <app-preference-component 
        [preference]="preferenceService.timePreferences()!" 
        class="mb-32"
        (changeSelection)="preferenceService.changeSelection($event, preferenceService.timePreferences)"
        ></app-preference-component>
    <app-preference-component 
        [preference]="preferenceService.cuisinePreferences()!" 
        class="mb-32"
        (changeSelection)="preferenceService.changeSelection($event, preferenceService.cuisinePreferences)"
        ></app-preference-component>
    <app-preference-component 
        [preference]="preferenceService.dietPreferences()!"
        (changeSelection)="preferenceService.changeSelection($event, preferenceService.dietPreferences)"
        ></app-preference-component>
</section>

<app-button-component [buttonVariant]="'dark'" class="generate-button">Generate a recipe</app-button-component>