<h3>Choose your preferences</h3>

<section class="selector-section">
    <app-quantity-selector-component [quantityType]="'Portions'" [quantityValue]="quantityService.portionsValue()"
        (quantityAdd)="quantityService.addPortion()" (quantityRemove)="quantityService.removePortion()">
        How many portions you need?
    </app-quantity-selector-component>

    <app-quantity-selector-component [quantityType]="'Person'" [quantityValue]="quantityService.chefsValue()"
        (quantityAdd)="quantityService.addChef()" (quantityRemove)="quantityService.removeChef()">
        How many are cooking?
    </app-quantity-selector-component>

</section>

<section class="preferences-section">
    <app-preference-component 
        [preference]="preferenceService.timePreferences()!" 
        class="mb-32"
        (changeSelection)="preferenceService.changeTimeSelection($event)"
        ></app-preference-component>
    <app-preference-component 
        [preference]="preferenceService.cuisinePreferences()!" 
        class="mb-32"
        (changeSelection)="preferenceService.changeCuisineSelection($event)"
        ></app-preference-component>
    <app-preference-component 
        [preference]="preferenceService.dietPreferences()!"
        (changeSelection)="preferenceService.changeDietSelection($event)"
        ></app-preference-component>
</section>

<app-button-component 
    [buttonVariant]="'dark'" 
    class="generate-button"
    (click)="onGenerateButtonClick()"
    >Generate a recipe</app-button-component>