@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;

:host {
    display: block;
    @include mixins.setup-font('Quicksand', 16px, 500, rgba(30, 85, 21, 1));
    overflow-y: auto;
}

.cookbook-wrapper {
    min-height: 100dvh;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    @include mixins.setup-display-flex(column, flex-start, center);
    overflow-y: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.cookbook-section {
    box-sizing: border-box;
    overflow: hidden;
    max-width: var.$max-content-width;
    min-width: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.cta-back {
    display: block;
    margin-top: 32px;
}

.cookbook-main-top {
    margin-top: 42px;
    padding: 40px 24px;
    background-color: rgba(57, 96, 57, 0.04);
    border-radius: 20px;
    display: grid;
    grid-template-columns: minmax(320px, 450px) 1fr;
    grid-template-areas:
        "title highlights"
        "description highlights";
    column-gap: 16px;

    &__title {
        grid-area: title;
        font-size: clamp(2.50rem, calc(2.071rem + 2.143vw), 4.00rem);
        font-weight: 700;
        line-height: 65px;
    }

    &__description {
        grid-area: description;
        font-size: clamp(1.13rem, calc(1.018rem + 0.536vw), 1.50rem);
        font-weight: 500;
        line-height: 100%;
        padding-top: 12px;
        color: rgba(16, 49, 11, 1);
    }

    &__highlights {
        grid-area: highlights;
        display: grid;
        @include mixins.setup-display-flex(column, center, flex-start);
    }

}

.highlights-header {
    @include mixins.setup-display-flex(row, flex-start, center, 16px);
}

.highlights-header>h5 {
    font-size: 24px;
    color: rgba(30, 85, 21, 1);
    line-height: 100%;
}

.highlights-header>div {
    height: 26px;
    width: 28px;
    @include mixins.setup-image('/assets/icons/favorite.svg');
}

.cookbook-cuisine-categories {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 400px));
    gap: 16px;
    row-gap: 42px;
    justify-content: space-between;
    margin-bottom: 42px;
    margin-top: 42px;
}

.cta-forward {
    align-self: flex-end;
}

app-footer-component {
    align-self: center;
}

@media (max-width: 900px) {
    .cookbook-cuisine-categories {
        grid-template-columns: repeat(2, minmax(0, 400px));
    }
}

@media (max-width: 768px) {
    .cookbook-main-top {
        margin-top: 0;
        padding: 24px 8px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title" "description" "highlights";
    }

    .cta-back {
        margin-top: 12px;
    }

    .cookbook-main-top__highlights {
        margin-top: 24px;
    }
}

@media (max-width: 650px) {
    .cookbook-cuisine-categories {
        grid-template-columns: 1fr;
    }
}