<form 
    class="ingredient-item" 
    [class.ingredient-item--writing]="isEditMode()" 
    (ngSubmit)="onSaveClick()" 
    [formGroup]="ingredientForm">

    <!-- dot -> immer gleich -->
    <div class="dot"></div>

    <!-- Anzahl bei readonly mit Einheit sonst ohne -->
    @if(isEditMode()) {
        <input 
            type="number" 
            [min]="0" 
            class="quantity-edit" 
            [class.input-writing]="isWriting()"
            type="text" 
            [formControl]="ingredientForm.controls.unitCount"
            (focus)="onInputEnter()"
            (blur)="onInputLeave()"
            >
    }@else {
        <span class="quantity-read">{{unitCountWithUnit}}</span>
    }

    <!-- Einheit nur bei Editmode -->
    @if(isEditMode()) {
        <app-unit-component
            [isUnitsListOpen]="isUnitListOpen()"
            [isUnitSelected]="false"
            (isOpenChange)="isUnitListOpen.set($event)"
            (sendUnitSelection)="onChooseUnit($event)"
        >{{currentUnit()}}</app-unit-component>
    }

    <!-- Name -->
    <span class="ingredient-name">{{ingredientName}}</span>

    <!-- edit oder check-button -->
    @if(isEditMode()) {
        <button class="form-button" type="submit">
            <div class="form-button__save"></div>
        </button>
    }@else {
        <button class="form-button" type="button" (click)="onEditClick()">
            <div class="form-button__edit"></div>
        </button>
    }

    <!-- delete button -->
    <button class="form-button" type="button" (click)="onDeleteClick()">
        <div class="form-button__delete"></div>
    </button>


    <!-- Errortext -->
    @if(isEditMode()){
        <span class="error-text" 
            [class.error-text--show]="getErrorMessage(ingredientForm) !== null && !isUnitListOpen()">{{getErrorMessage(ingredientForm)}}</span>
    }

</form>
