@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;

.btn {
    outline: none;
    border: none;
    cursor: pointer;
    @include mixins.setup-display-flex(row, center, center);
    padding: 12px 18px;
    background-color: rgba(250, 240, 230, 1);
    @include mixins.setup-font('Quicksand', 24px, 600, rgba(0, 128, 0, 1));
    transition: background-color 125ms ease-in, transform 300ms ease-in;

    &:hover {
        background-color: rgb(230, 214, 197);
        transform: scaleX(1.05);
    }
}

