@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;

.cta {
  @include mixins.setup-display-flex(row, flex-start, center);

  &__inspriation {
    @include mixins.setup-font('Ubuntu', clamp(1.50rem, calc(1.357rem + 0.714vw), 2.00rem), 500, rgba(250, 240, 230, 1));
    margin-right: 32px;
  }
}

.cta-button {
  cursor: pointer;
  outline: none;
  border: none;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 12px;
  padding: 12px 18px;
  background-color: transparent;
  transition: background-color 125ms ease-in;

  &--forward {
    grid-template-areas: "text icon";
  }

  &--backward {
    grid-template-areas: "icon text";
  }

  &:hover:not(.cta-button-icon--backward) {
    background-color: rgba(247, 232, 218, 0.24);
  }

}

.cta-button-text {
  grid-area: text;
  @include mixins.setup-font('Quicksand', 20px, 500, rgba(250, 240, 230, 1));

  &--colored {
    color: rgba(30, 85, 21, 1);
  }
}

.cta-button-icon {
  align-self: center;
  grid-area: icon;
  width: 24px;
  height: 14px;
  @include mixins.setup-image('/assets/icons/arrow-white.svg');
  opacity: 1;
  animation: none;

  &--backward {
    transform: rotate(180deg);
  }

  &--colored {
    @include mixins.setup-image('/assets/icons/arrow-colored.svg');
  }

}

.icon-animation-start:not(.cta-button-icon--backward) {
  animation: iconBlinkStart 1s ease;
}

.icon-animation-end:not(.cta-button-icon--backward) {
  animation: iconBlinkEnd 1s ease;
}

@keyframes iconBlinkStart {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes iconBlinkEnd {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@media (max-width: 1150px) {}

@media(max-width: 900px) {
  .cta {
    @include mixins.setup-display-flex(column, flex-end, flex-start, 12px);
  }

  .cta__inspriation {
    margin-right: 0;
    margin-left: 12px;
  }

  .cta-button {
    padding: 12px 12px;
  }
}