<aside class="cta">
    @if(inspiration()){
        <p class="cta__inspriation">{{inspiration()}}</p>
    } 
    
    <button 
        class="cta-button" 
        type="button"
        (pointerenter)="onPointerEnter()"
        (pointerleave)="onPointerLeave()"
        > 
        <ng-content></ng-content>
        <div class="cta-button-icon"
            [class.icon-animation-start]="animationState() === 'enter'"
            [class.icon-animation-end]="animationState() === 'leave'"
        ></div>
    </button>
    
</aside>
