<aside class="cta">
    @if(inspiration()){
        <p class="cta__inspriation">{{inspiration()}}</p>
    } 
    
    <button 
        class="cta-button" 
        [ngClass]="(callToActionVariant() === 'forward' ? 'cta-button--forward' : 'cta-button--backward')"
        type="button"
        (pointerenter)="onPointerEnter()"
        (pointerleave)="onPointerLeave()"
        (click)="actionButtonEvent.emit()"
        > 
        <span class="cta-button-text" [class.cta-button-text--colored]="colorVariant() === 'colored'">
            <ng-content></ng-content>
        </span>
        
        <div class="cta-button-icon"
            [class.cta-button-icon--backward]="callToActionVariant() === 'backward'"
            [class.cta-button-icon--colored]="colorVariant() === 'colored'"
            [class.icon-animation-start]="animationState() === 'enter'"
            [class.icon-animation-end]="animationState() === 'leave'"
        ></div>
    </button>
    
</aside>
