@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;

.cta {
    @include mixins.setup-display-flex(row, flex-start, center);
    margin-bottom: 10vh;

    &__inspriation {
        @include mixins.setup-font('Ubuntu', 32px, 500, rgba(250, 240, 230, 1));
        margin-right: 32px;
    }
}

.cta-button {
    cursor: pointer;
    outline: none;
    border: none;
    @include mixins.setup-display-flex(row, center, center, 12px);
    padding: 12px 18px;
    @include mixins.setup-font('Quicksand', 20px, 500, rgba(250, 240, 230, 1));
    background-color: transparent;
    transition: background-color 125ms ease-in;

    &:hover {
        background-color: rgba(247, 232, 218, 0.24);
    }

}

.cta-button-icon {
    width: 24px;
    height: 14px;
    @include mixins.setup-image('/assets/icons/arrow-white.svg');
    opacity: 1;
    
}

.icon-animation-start {
  animation: iconBlinkStart 1s ease;
}

.icon-animation-end {
  animation: iconBlinkEnd 1s ease;
}

@keyframes iconBlinkStart {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes iconBlinkEnd {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
