@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;

:host {
    display: block;
    @include mixins.setup-font('Quicksand', 16px, 500, rgba(30, 85, 21, 1));
    overflow-y: auto;
}

.generator-section {
    box-sizing: border-box;
    overflow: hidden;
    max-width: var.$max-content-width;
    min-width: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

app-call-to-action {
    margin-top: 16px;
}