@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;

:host {
    display: block;
    @include mixins.setup-font('Quicksand', 16px, 500, rgba(30, 85, 21, 1));
    overflow-y: auto;
}

.generator-section {
    box-sizing: border-box;
    overflow: hidden;
    max-width: var.$max-content-width;
    min-width: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.generator-section > h1 {
    font-size: clamp(2.00rem, calc(1.607rem + 1.964vw), 3.38rem);
    line-height: 65px;
    margin-top: 64px;
    text-align: center;
}

.generator-description {
    font-size: clamp(1.13rem, calc(1.018rem + 0.536vw), 1.50rem);
    color: rgba(16, 49, 11, 1);
    line-height: 32px;
    text-align: center;
    margin-top: 32px;
}

.generator-selection {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-template-areas: "ingredient ingredient-list";
    column-gap: 32px;
    margin-top: 42px;
}

.generator-ingredient {
    grid-area: ingredient;
}

.generator-ingredient-list {
    grid-area: ingredient-list;
}

.ingredient-section {
    background-color: rgba(57, 96, 57, 0.3);
    border-radius: 20px;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 176px;
    align-content: flex-start;
}

.ingredient-input-area {
    box-sizing: border-box;
    min-width: 0;
    width: 100%;
    @include mixins.setup-display-flex(column, center, flex-start, 10px);

    label {
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
    }

    input {
        outline: none;
        border: none;
        background-color: rgba(250, 240, 230, 0.8);
        border-radius: 20px;
        font-size: 20px;
        padding: 6px 18px;
    }
}

.ingredient-size-area {
    box-sizing: border-box;
    min-width: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-template-areas: "label label label" "size-input units-selector add-button";
    column-gap: 12px;
    row-gap: 10px;

    label {
        grid-area: label;
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
    }

    input {
        grid-area: size-input;
        outline: none;
        border: none;
        background-color: rgba(250, 240, 230, 0.8);
        border-radius: 20px;
        font-size: 20px;
        padding: 6px 18px;
        text-align: center;
    }

    .unit-selector {
        grid-area: units-selector;
        
    }

    button {
        
        grid-area: add-button;
    }
}


.ingredient-list {
    background-color: rgba(57, 96, 57, 0.3);
    border-radius: 20px;
    padding: 25px;

}
