@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;

.app-header {
    height: 48px;
    width: 100%;
    @include mixins.setup-display-flex(row, flex-start, center);
    background-color: transparent;
}

.app-header-icon {
    box-sizing: border-box;
    height: 100%;
    aspect-ratio: 142 / 48;

    &--colored {
        @include mixins.setup-image('/assets/icons/logo-colored.svg');
    }

    &--white {
        @include mixins.setup-image('/assets/icons/logo-white.svg');
    }

    &--clickable {
        cursor: pointer;
    }
    
}

@media(max-width: 768px){
    .app-header {
        margin-top: 16px;
        height: 32px;
    }
}